<div class="row">
  <div class="col-sm-6" *ngIf="autorSelecionado">
  
    <div class="row">
      <div class="mr-auto">
        <app-titulo [titulo]="'Autor: '  + autorSelecionado.nome + ' ' + autorSelecionado.sobreNome"></app-titulo>
      </div>
      <div mt-1>
          <button class="btn btn-outline-danger"(click)="voltar()">Fechar</button>
      </div>
    </div>
    <form>
      <div class="form-group">
        <label for="formGroupExampleInput">Nome</label>
        <input type="text" value="{{autorSelecionado?.nome}}" class="form-control" id="formGroupExampleInput">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Sobrenome</label>
        <input type="text" value="{{autorSelecionado?.sobreNome}}" class="form-control" id="formGroupExampleInput2" >
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput3">País</label>
        <input type="text" value="{{autorSelecionado?.pais}}" class="form-control" id="formGroupExampleInput3">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
    
  <div [ngClass]="{'col-sm-12':!autorSelecionado,'col-sm-6':autorSelecionado}" >
    <app-titulo [titulo]="titulo"></app-titulo> 
    <table class="table table-stripped table-hover">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th>Sobrenome</th>
          <th>País</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody *ngIf="autores && autores.length">
        <tr *ngFor="let autor of autores" style="cursor: pointer;"(click)="autorSelect(autor)">
          <td>{{autor.id}}</td>
          <td>{{autor.nome}}</td>
          <td>{{autor.sobreNome}}</td>
          <td>{{autor.pais}}</td>
          <td>
            <button class="btn btn-success"></button>
            <button class="btn btn-danger"></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



