<div class="row">
  <div class="col-sm-6" *ngIf="livroSelecionado">
    
    <div class="row">
      <div class="mr-auto">
        <app-titulo [titulo]="'Livro: '  + livroSelecionado.titulo"></app-titulo>
      </div>
      <div mt-1>
          <button class="btn btn-outline-danger" (click)="voltar()">Fechar</button>
      </div>
    </div>
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Título</label>
        <input type="text" value="{{livroSelecionado?.titulo}}" class="form-control" id="formGroupExampleInput" placeholder="Ex: Meu Livro">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Subtítulo</label>
        <input type="text" value="{{livroSelecionado?.subtitulo}}" class="form-control" id="formGroupExampleInput2" placeholder="Ex: Meu Subtítulo">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput3">Páginas</label>
        <input type="text" value="{{livroSelecionado?.quantidadePagina}}" class="form-control" id="formGroupExampleInput3" placeholder="Ex: 364">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput4">Publicação</label>
        <input type="text" value="{{livroSelecionado?.anoPublicacao}}" class="form-control" id="formGroupExampleInput4" placeholder="Ex: 1865">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput5">Versão</label>
        <input type="text" value="{{livroSelecionado?.versao}}" class="form-control" id="formGroupExampleInput5" placeholder="Ex: Versão Internacional">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  
  <div [ngClass]="{'col-sm-12':!livroSelecionado,'col-sm-6':livroSelecionado}">
    <app-titulo [titulo]="titulo"></app-titulo>
    <table class="table table-stripped table-hover">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>Título</th>
          <th>Subtítulo</th>
          <th>Páginas</th>
          <th>Publicação</th>
          <th>Versão</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody *ngIf="livros && livros.length">
        <tr *ngFor="let livro of livros" style="cursor: pointer;" (click)="livroSelect(livro)">
          <td>{{livro.id}}</td>
          <td>{{livro.titulo}}</td>
          <td>{{livro.subtitulo}}</td>
          <td>{{livro.quantidadePagina}}</td>
          <td>{{livro.anoPublicacao}}</td>
          <td>{{livro.versao}}</td>
          <td>
            <button class="btn btn-success"></button>
            <button class="btn btn-danger"></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


